*{ /*Quitamos los margenes de toda la pagina web*/
    margin: 0%;
}

/*Parte del header*/

header{ /*modificamos el background con un color*/
    background-color: aquamarine;
}
h1{ /*Centramos el titulo*/
    text-align: center;    
}
.menu ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.menu li a:hover:not(.activo) {
    background-color: green;
}
.activo {
    background-color: grey;
}

/*Parte del main*/

main{ /*Modificamos todo el main para que la posicion del contenido sea relativo*/
    position: relative;
    margin-top: 1%;
}
img{/*Posicionamos la imagen a la izquierda y le damos un tamaño*/
    height:200px;   
    left: 0;
    float:left;
}
main h2{ /*Generamos un margen superior para que tenda una distancia con la barra de navegacion*/
    margin-bottom: 10px;
}

/*Parte del footer*/

footer{/* modificamos el footer para que tenga un fonde de color, que ocupe todo el ancho de la pantalla, y que tenga un margen con el main */
    position:relative;
    margin-top: 71px;
    width: 100%;
    background-color: rgb(208, 207, 207);
}
span,address{   /* Posicionamos el texto a la izquierda y que se comporte como un elemento de linea*/
    display: inline;
    text-align: left;
}
aside h3{/* Posicionamos el texto a la izquierda y que se comporte como un elemento de linea*/
    display: inline;
    
}

