*{
    margin: 0%;
}
header{
    background-color: aquamarine;
}
h1{
    text-align: center;    
}
.menu ul {    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.menu li a:hover:not(.activo) {
    background-color: green;
}
.activo {
    background-color: grey;
}
main{
    position: relative;
    margin-top: 1%;
}
img{
    height:200px;   
    left: 0;
    float:left;
}
main h2{
    margin-bottom: 10px;
}
footer{
    position:relative;
    margin-top: 71px;
    width: 100%;
    background-color: rgb(208, 207, 207);
}
span,address{
    display: inline;
    text-align: left;
}
aside h3{
    display: inline;
    
}

